
.center {
    text-align: center;
    color: black;
}



.mainviaje {
    background-image: url("multimedia/merzouga-marruecos.jpg");
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 100%;
}

nav {
    margin-left: 70%;
    margin-top: 2%;
    background-color:rgba(255, 235, 205, 0.505);

}

h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 20px;
    font-style:oblique;
    font-weight:bolder;
   
}

.seccionviviras { background-color:rgba(255, 235, 205, 0.505);
                width: 50%;
                text-align: justify;
                margin-left: 23%;
                padding: 20px;
                margin-top: 2%;
            }
caption {
    background-color: white;
    margin-right: 35%;
    margin-left: 35%;
    padding: 5px;
}

.fondoheader {
   background-color: rgba(255, 255, 255, 0.726);
   padding: 10px;
   margin-top: 5%;
   margin-bottom: 3%;
}

section {
    text-align: center;
    color: black;
}

ol {
    text-decoration:underline;
    margin-bottom: 5%;
}

article {background-color: white;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        padding: 10px;
        border: 10px;}

dt {
    text-decoration:black;
    background-color: rgba(207, 148, 106, 0.659);
    margin: 3% 8% 3% 8%;
    padding: 5%;
    
}
        

td {
    background-color:white;
    border-radius: 12px;
    border: 5px outset;
    border-bottom-width: 15px;
    border-bottom-color: bisque ;
    padding: 10px; 
}

table  {

    border-spacing: 10px;
    border-collapse: separate;
    text-align:center;
    width: 100%;
    border-color: burlywood;
    

}

.seccionfinal {
    background-color:rgba(255, 235, 205, 0.505);
    margin: 3% 20% 3% 20%;
    padding: 5%;
}

.imagen-borde {
   border-radius: 12px; 
   width: 700px;
   height: 500px;
}

h3 {
    color: brown;
}

footer p {
    text-align: center;
}

.mainformulario {
    background-color: antiquewhite;
    padding: 10% 15% 10% 15%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

fieldset  {
   
    border-radius: 20px;
    background-color: rgb(240, 234, 234);
    padding-right: 8%;
}
























